@use "../var" as *;
@use "../fonts" as *;
@use "../media" as *;
.card {
  background: $white;
  border-radius: 32px;
  min-height: 531px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include mobail {
    border-radius: 20px;
    min-height: 380px;
  }
  /* .card__img */

  &__img {
    object-fit: cover;
    width: 100%;
    height: 359px;

    @include mobail {
      height: 180px;
    }
  }

  /* .card__content */

  &__content {
    padding: 24px 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include mobail {
      padding: 16px 12px;
    }
  }

  /* .card__content-title */

  &__content-title {
    flex-grow: 1;
    font-weight: 400;
    font-size: 18px;
    align-self: start;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @include mobail {
      align-items: stretch;
      flex-direction: column;
    }
  }
  /* .card__data */

  &__data {
    padding-left: 20px;
    font-weight: 400;
    font-size: 14px;
    background-image: url("./img/card-icon.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    align-self: end;
    @include mobail {
      align-self: start;
      font-size: 12px;
    }
  }

  /* .card__button */

  &__button {
    border-radius: 32px;
    padding: 8px 16px;
    min-width: 120px;
    background-color: $light-orange;
    color: $white;
  }

  /* .card__price */

  &__price {
    font-weight: 400;
    font-size: 18px;
  }

  /* .card__button-text */

  &__button-text {
    display: none;
  }
}
