@use "../var" as *;
@use "../fonts" as *;
@use "../media" as *;
.choices {
  /* .choices__btn */

  &__btn {
  }

  /* .choices__box */

  &__box {
    display: block;
  }

  &__box-price {
    max-width: 276px;
    margin-top: 24px;
    width: 100%;
    background-color: $white;
    border-radius: 12px;
    padding: 24px;

    @include mobail {
      max-width: 236px;
    }
  }
}
