@use "../var" as *;
@use "../fonts" as *;
@use "../media" as *;

.filter {
  padding: 60px 0;
  /* .filter__container */

  @include mobail {
    padding-top: 73px;
    padding-bottom: 40px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
  }

  /* .filter__fieldset */

  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    border: 0;
    margin: 0;
    padding: 0;
    gap: 12px;
    position: relative;
  }

  &__fieldset-price {
    flex-wrap: nowrap;
  }

  /* .filter__fieldset-input */

  &__fieldset-input {
    position: absolute;
    appearance: none;
  }

  &__input-price {
    max-width: 110px;
    background-color: $bg;
    border-radius: 32px;
    padding: 8.5px 16px;

    &::placeholder {
      color: $dark;
    }
  }

  /* .filter__fieldset-label */

  &__fieldset-label {
    height: 72px;
    border: none;
    font-family: $font-family;
    background-color: $white;
    border-radius: 300px;
    color: $dark;
    padding: 24.5px 16px 24.5px 25px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
    &:hover {
      background-color: $light-orange;
      color: $white;
    }

    @include mobail {
      padding: 10px 12px 10px 12px;
      height: 40px;
    }
  }

  &__fieldset-label img {
    width: 40px;
    height: 40px;
    @include mobail {
      width: 24px;
      height: 24px;
    }
  }

  &__fieldset-input:focus-visible + &__fieldset-label {
    outline: 2px solid $orange;
    outline-offset: 5px;
  }

  &__fieldset-input:checked + &__fieldset-label {
    background-color: $light-orange;
    color: $white;
  }

  &__fieldset-choices {
    gap: 64px;
    @include mobail {
      gap: 40px;
    }
  }

  &__choices-box {
  }
  /* .filter__choices */

  // &__choices {
  // }

  /* .filter__select */

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* .filter__input-price */

  &__input-price {
    border: none;
    outline: none;
    appearance: none;
    &::placeholder {
      font-size: 18px;
    }

    @include mobail {
      &::placeholder {
        font-size: 14px;
      }
    }
  }

  /* .filter__type-list */
  &__choices-box-type {
    margin-top: 24px;
  }
  &__type-list {
    padding: 24px;
    background: $white;
    border-radius: 12px;
    max-width: 244px;
    width: 100%;

    @include mobail {
      max-width: 185px;
    }
  }

  /* .filter__type-item */

  &__type-item {
    padding-bottom: 8px;
    &:last-child {
      padding-bottom: 0;
    }
  }

  /* .filter__type-btn */

  &__type-btn {
    font-size: 18px;
    @include mobail {
      font-size: 14px;
    }
    &:hover {
      color: $orange;
    }
  }
}
