@use "../var" as *;
@use "../fonts" as *;

.filter {
  padding: 60px 0;
  /* .filter__container */

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  /* .filter__fieldset */

  &__fieldset {
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
    gap: 12px;
  }

  /* .filter__fieldset-input */

  &__fieldset-input {
    position: absolute;
    appearance: none;
  }

  /* .filter__fieldset-label */

  &__fieldset-label {
    min-width: 133px;
    height: 72px;
    display: inline-block;
    border: none;
    font-family: $font-family;
    background-color: $white;
    border-radius: 300px;
    color: $dark;
    padding: 24.5px 16px 24.5px 25px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
    &:hover {
      background-color: $light-orange;
      color: $white;
    }
  }

  &__fieldset-input:focus-visible + &__fieldset-label {
    outline: 2px solid $orange;
    outline-offset: 5px;
  }

  &__fieldset-input:checked + &__fieldset-label {
    background-color: $light-orange;
    color: $white;
  }

  &__fieldset-choices {
    gap: 64px;
  }

  /* .filter__choices */

  // &__choices {
  // }

  /* .filter__select */

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* .filter__input-price */

  &__input-price {
    appearance: none;
  }

  /* .filter__type-list */

  // &__type-list {
  // }

  /* .filter__type-item */

  // &__type-item {
  // }

  /* .filter__type-btn */

  // &__type-btn {
  // }
}
