@use "../var" as *;
@use "../media" as *;
.header {
  padding: 32px 0;

  @include mobail {
    padding: 24px 0;
  }
  /* .header__form */

  &__container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-areas: ". logo cart" "form form form";
    }

    @include mobail {
      gap: 24px;
      grid-template-areas: "logo logo cart" "form form form";
    }
  }

  &__form {
    max-width: 420px;
    width: 100%;
    height: 40px;
    position: relative;

    @include laptop {
      max-width: 302px;
    }

    @include tablet {
      grid-area: form;
      max-width: 100%;
    }
  }

  /* .header__input */

  &__input {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    padding: 8px 56px 8px 16px;
    border: none;

    &::placeholder {
      color: rgba($dark, 0.3);
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  /* .header__search-btn */

  &__search-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background-color: $light-orange;
  }

  &__search-btn svg {
    color: $white;
  }

  /* .header__logo */

  &__logo {
    justify-self: center;
    width: 200px;
    @include tablet {
      grid-area: logo;
    }
    @include mobail {
      justify-self: start;
      width: 140px;
    }
  }

  /* .header__cart-btn */

  &__cart-btn {
    background: url("/img/cart.svg") no-repeat center/contain;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    justify-self: end;
    align-items: end;
    font-size: 14px;
    text-align: center;
    color: $orange;

    @include tablet {
      grid-area: cart;
    }
  }
}
