@use "../var" as *;
@use "../fonts" as *;
@use "../media" as *;
.subscription {
  padding-top: 70px;
  padding-bottom: 70px;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* .subscription__container */

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* .subscription__title */

  &__title {
    font-family: $second-family;
    font-weight: 400;
    font-size: clamp(2rem, 1.679rem + 1.61vw, 3.125rem);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $green;
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 24px;
    }
  }

  /* .subscription__form */

  &__form {
    width: 524px;
    height: 40px;
    position: relative;

    @include mobail {
      width: 100%;
    }
  }

  /* .subscription__form-input */

  &__form-input {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    padding: 8px 0px 8px 16px;
    border: none;
    &::placeholder {
      color: rgba($dark, 0.3);
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  /* .subscription__form-btn */

  &__form-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background-color: $light-orange;
  }

  &__form-btn svg {
    color: $white;
    transform: rotate(-90deg);
  }
}
